In [3]:
URL = 'https://en.wikipedia.org/wiki/London'
import pandas as pd

In [4]:
dfs = pd.read_html(URL)

In [5]:
print(f'Total tables: {len(dfs)}')

Total tables: 32

In [27]:
d=dfs[2]
d

,"London, United Kingdom",Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0,Unnamed: 11_level_0
,Climate chart (explanation),Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,Unnamed: 7_level_1,Unnamed: 8_level_1,Unnamed: 9_level_1,Unnamed: 10_level_1,Unnamed: 11_level_1
0,J F M A M J J A S O N D 55 8 2 41 8 2 42 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,J,F,M,A,M,J,J,A,S,O,N,D
2,55 8 2,41 8 2,42 11 4,44 14 6,49 18 9,45 22 12,45 24 14,50 23 14,49 20 11,69 16 8,59 11 5,55 8 3
3,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C,Average max. and min. temperatures in °C
4,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm,Precipitation totals in mm
5,Imperial conversion JFMAMJJASOND 2.2 47 36 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion,Imperial conversion
7,J,F,M,A,M,J,J,A,S,O,N,D
8,2.2 47 36,1.6 47 36,1.6 52 39,1.7 58 42,1.9 64 48,1.8 72 53,1.8 74 57,1.9 74 57,1.9 68 53,2.7 60 47,2.3 52 41,2.2 47 37
9,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F,Average max. and min. temperatures in °F
10,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches,Precipitation totals in inches

In [25]:
d.iloc[0:7]

,London,London.1
0,Capital city,Capital city
1,Clockwise from top: City of London in the fore...,Clockwise from top: City of London in the fore...
2,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
3,"Coordinates: .mw-parser-output .geo-default,.m...","Coordinates: .mw-parser-output .geo-default,.m..."
4,Sovereign state,United Kingdom
5,Country,England
6,Region,London (coterminous)